<section id="Portafolio">
    <h3 class="titulo-seccion">MIS CURSOS</h3>
    <div class="fila">
        <section>
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Cloudcomputing.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <!--Curso2-->
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Icana.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <!--Curso3-->
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Robotica1.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>.</p>
            </div>
        </div>
        </section>
        <section>
        <!--Curso4-->
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Robotica2.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <!--Curso5-->
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Robotica4.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
        <!--Curso6-->
        <div class="proyecto">
            <div class="overlay"></div>
            <img src="../../../assets/Videojuegos.jpg" height="250" width="250">
            <div class="info">
                <h4>Descripción del proyecto</h4>
                <p>Diseño Web</p>
            </div>
        </div>
     
    </section>
 
<section>
    <div class="a">
        <p>.</p>
    </div>
</section>
